<div class="body ">
    <div class="container my-container">
        <div class="row align-content-stretch my-row h-100">
            <div class="col-4 d-none d-md-block my-col bg-primary">
                <div class="row h-50 align-items-end" style="margin-top: 5px;">
                    <div class="col">
                        <img src="../assets/logo.png" alt="logo" style="width:95%" class="rounded mx-auto d-block">
                    </div>
                </div>
                <div class="row h-50 align-items-center">
                    <div class="col text-center">
                        <h3 class="text-white">Welcome to my blah</h3> 
                    </div>
                </div>
            </div>
            <div class="col my-col bg-light-gray">
                <!-- <h1>Signup Form</h1> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
