.body{
    height: 100%;   
    padding-top: 20px;
    background-image: url("/../../assets/login-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-position: right 0px top;

}

.my-container {
    height: 500px;  
    box-shadow: 3px 28px 49px -15px rgba(0, 0, 0, 1);
}

// .my-row{
//     height: 300px;
// }