<div class="container h-100 ">
    <div class="container h-100 w-50">
        <div class="row h-75 align-items-center">
            <div class="col">
                <!-- <form (ngSubmit)="onSubmit()" #f="ngForm">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" email ngModel userName="username"
                        #username="ngModel" required>
                    <span class="text-danger" *ngIf="!username.valid && username.touched">Please enter a valid
                        email!</span>
                    <br>
                    <label for="password">Password</label>
                    <input type="text" id="password" class="form-control" ngModel password="password"
                        #password="ngModel" required>
                    <a href="#">forget your password?</a>
                    <br>
                    <br>
                    <button class="btn btn-primary w-100" type="submit" [disabled]="!f.valid">Submit</button>
                </form> -->
                <form (ngSubmit)="onSubmit()" #f="ngForm">
                    <div id="user-data" ngModelGroup="userInfo" #userData="ngModelGroup">
                      <div class="form-group" >
                        <label for="username">Username</label>
                        <input type="text" 
                        id="username" 
                        class="form-control"
                        ngModel
                        name="name"
                        required>
                      </div>
                      <button class="btn btn-default"  type="button">Suggest an Username</button>
                      <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" 
                        id="email" 
                        class="form-control" 
                        ngModel 
                        name="email"
                        required
                        email 
                        #email="ngModel">
                        <span class="text-danger" *ngIf="!email.valid && email.touched" >Please enter a valid email!</span>
                      </div>
                    </div>
                    <div class="text-danger" *ngIf="!userData.valid && userData.touched">User data is invalid</div>
                    <div class="form-group">
                      <label for="secret">Secret Questions</label>
                      <select id="secret" class="form-control" 
                       name="secret">
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control"  name="questionAnswer" rows="3" ></textarea>
                    </div>
                    <p>your reply is: {{ 'fuck you' }}</p>
                    <button 
                    class="btn btn-primary" 
                    type="submit"
                    [disabled]="!f.valid">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="name" required> -->



<!-- <div class="body">
    <div class="container my-container">
        <div class="row my-row">
            <div class="col-6 col-md-4 my-col">
                <p>row 1 col 1
                </p>
            </div>
            <div class="col-6 col-md-8 my-col">
                <p>row 1 col 2
                </p>
            </div>
        </div>
        <div class="row justify-content-between align-items-stretch my-row">
            <div class="col-4 align-self-start order-md-0 order-sm-1 my-col">
                row 2 col 1
            </div>
            <div class="col-4 order-md-1 offset-sm-2 order-sm-0 my-col">
                row 2 col 2
            </div>
        </div>
    </div>
</div> -->