<div class="body bg-light">
    <div class="container my-container">
        <div class="row align-content-stretch my-row h-100">
            <div class="col-4 d-none d-md-block my-col bg-primary">
                <div class="row h-50 align-items-end" style="margin-top: 5px;">
                    <div class="col">
                        <img src="../assets/logo.png" alt="logo" style="width:95%" class="rounded mx-auto d-block">
                    </div>
                </div>
                <div class="row h-50 align-items-center">
                    <div class="col text-center">
                        <h3 class="text-white">Welcome to my blah</h3> 
                    </div>
                </div>
            </div>
            <div class="col my-col bg-white">
                <h1>Signup Form</h1>
            </div>
        </div>
    </div>
</div>

















<!-- <div class="body">
    <div class="container my-container">
        <div class="row my-row">
            <div class="col-6 col-md-4 my-col">
                <p>row 1 col 1
                </p>
            </div>
            <div class="col-6 col-md-8 my-col">
                <p>row 1 col 2
                </p>
            </div>
        </div>
        <div class="row justify-content-between align-items-stretch my-row">
            <div class="col-4 align-self-start order-md-0 order-sm-1 my-col">
                row 2 col 1
            </div>
            <div class="col-4 order-md-1 offset-sm-2 order-sm-0 my-col">
                row 2 col 2
            </div>
        </div>
    </div>
</div> -->
